{% extends "layout.html" %}
{% block content %}

	<article class="media content-section">
	  <div class="media-body">
	    <h4><a class="article-title">Whoops! We can't find that page. Click on Fred and he'll take you back.</a></h4>
	    	<p style="text-align: left;">
	    		
			        <img src="https://scontent-atl3-1.cdninstagram.com/vp/88ebe7988da3e0d67cf8f658300fe521/5DB05526/t51.2885-15/e35/53672321_325008821700483_9080208530961711371_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com" alt="Sunflower Fred" style="width:100%" class="img-thumbnail" onclick="goBack()">

			        <script>
						function goBack() {
						  window.history.back();
						}
					</script>

	    	</p>
	  </div>
	</article>

{% endblock content %}