{% extends "layout.html" %}
{% block content %}

	<article class="media content-section">
	  <div class="media-body">
	    <h2><a class="article-title">About Me</a></h2>
	    	<p style="text-align: left;">I graduated from the University of North Carolina at Chapel Hill with my BS in Geology in 2016. After that I worked as a geomorphologist on river restoration projects across North Carolina and Tennessee before returning to school. </p>

	    	<p style="text-align: left;">
	    	I also write code, mostly scientific. Many of my projects are meant to improve the work of the professional communities I'm involved in, like <i>pyfluv</i>. Others are just for fun!</p>
	  </div>
	</article>
	
{% endblock content %}