{% extends "layout.html" %}
{% block content %}

	<article class="media content-section">
	  <div class="media-body">
	    <h2><a class="article-title">About Me</a></h2>
	    	<p style="text-align: left;">I graduated from the University of North Carolina at Chapel Hill with my BS in Geology in 2016. For the next three years I worked as a stream restorationist on projects across Tennessee and North Carolina. I also realized during that time that programming is rad and made my job easier.</p>
	  </div>
	</article>
	
{% endblock content %}