{% extends "layout.html" %}
{% block content %}

	<article class="media content-section">
	  <div class="media-body">
	    <h2><a class="article-title">Contact</a></h2>

	    	{% if success %}
    		  <p>Thanks for your message. That anyone is using this form is totally fascinating to me; I'll get back to you soon.</p>

    		{% else %}
		    	<p style="text-align: left;">
				  <form action="{{ url_for('contact') }}" method=post>
				    {{ form.hidden_tag() }}
				 
				    {{ form.name.label }}
				    {{ form.name }}
				 	<br>
				    {{ form.email.label }}
				    {{ form.email }}
				 	<br>
				    {{ form.subject.label }}
				    {{ form.subject }}
				 	<br>
				    {{ form.message.label }}
				    
				    {{ form.message }}
				 	<br>
				    {{ form.submit }}
				  </form>
		    	</p>
		    {% endif %}
	  </div>
	</article>

{% endblock content %}