{% extends "layout.html" %}
{% block content %}

	<article class="media content-section">
	  <div class="media-body">
	    <h4><a class="article-title">fuzzyPEACH: Fuzzy Logic Simulation of Deltaic Deposition</a></h4>
	    	<p style="text-align: left;">
	    		As an undergraduate, I took over development of a MATLAB tool called <i>fuzzyPEACH</i> (Fuzzy Predictive Earth Analysis Constrained by Heuristics). Originally written by Dr. Jeffrey Warren as a way to simulate stratigraphic architecture developed in deltaic depositional systems on passive margins (e.g., the East China Sea), my job was to update the model to better represent more diverse systems. 
	    	</p>
	    	<p style="text-align: left;">
	    		Below is the poster I presented at the 2016 Anadarko Research Symposium at UNC.
	    	</p>

	    	<p style="text-align: left;">
	    		<div class="col-md-4">
			    <div class="thumbnail">
			      <a href="https://i.imgur.com/9neMlTB.png" target="_blank">
			        <img src="https://i.imgur.com/9neMlTBm.png" alt="fuzzyPEACH Poster" style="width:100%" class="img-thumbnail">
			        <div class="caption">
			          <p>Click to open a larger image</p>
			        </div>
			      </a>
			    </div>
			  </div>
			</p>
	  </div>
	</article>
	
{% endblock content %}