{% extends "layout.html" %}
{% block content %}
    
	<article class="media content-section">
	  <div class="media-body">
	    <h2><a class="article-title">Tools anyone can use</a></h2>
	    <p class="article-content">This site is just a showcase for some of my projects and a place to practice distributing web tools. All of my code is freely available under the MIT License and is probably hosted on my GitHub. If you find any of it useful, please let me know!</p>
	  </div>
	</article>

{% endblock content %}