<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

	{% if title %}
		<title>Sky Jones Development - {{title }}</title>
	{% else %}
		<title>Sky Jones Development</title>
	{% endif %}

	{% block vissetup %}{% endblock vissetup%}
</head>

<body>
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="/">Sky Jones Development</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="/">Home</a>
	          <a class="nav-item nav-link" href="/about">About</a>
	          <a class="nav-item nav-link" href="https://github.com/rsjones94/" target="_blank">Github</a>
	        </div>
	        <!-- Navbar Right Side -->
	        <div class="navbar-nav">
	          <a class="nav-item nav-link" href="/contact">Contact</a>
	        </div>
	      </div>
	    </div>
	  </nav>
	</header>

	<main role="main" class="container">
	  <div class="row">
	    <div class="col-md-8">
	      {% block content %}{% endblock content%}
	    </div>
	    <div class="col-md-4">
	      <div class="content-section">
	        <h3>Directory</h3>
	        <p class='text-muted'>Check out some of my projects below.
	          <ul class="list-group">
	            <a class="list-group-item list-group-item-light nav-link" href="/pyfluv">pyfluv</a>
	            <a class="list-group-item list-group-item-light nav-link" href="/ecotrajectory">ecotrajectory</a>
	            <a class="list-group-item list-group-item-light nav-link" href="/molec-strain">Interactive Newman Projection</a>
	            <a class="list-group-item list-group-item-light nav-link" href="/geoengine">KCI Geoengine</a>
	            <a class="list-group-item list-group-item-light nav-link" href="/more-projects">More</a>
	          </ul>
	        </p>
	      </div>
	    </div>
	  </div>
	</main>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  	<!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
</body>

</html>