<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

	{% if title %}
		<title>Sky Jones Development - {{title}}</title>
	{% else %}
		<title>Sky Jones Development</title>
	{% endif %}

	{% block vissetup %}{% endblock vissetup%}

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="{{url_for('home')}}">Sky Jones Development</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="{{url_for('home')}}">Home</a>
	          <a class="nav-item nav-link" href="{{url_for('about')}}">About</a>
	        </div>
	        <!-- Navbar Right Side -->
	        <div class="navbar-nav">
	          <a class="nav-item nav-link" href="https://github.com/rsjones94/" target="_blank">Github</a>
	          <a class="nav-item nav-link" href="https://www.linkedin.com/in/randallsajones" target="_blank">LinkedIn</a>
	          <a class="nav-item nav-link" href="/contact">Contact</a>
	        </div>
	      </div>
	    </div>
	  </nav>
	</header>

	<main role="main" class="container">
	  <div class="row">
	    <div class="col-md-9">
	      {% block content %}{% endblock content%}
	    </div>
	    <div class="col-md-3">
	      <div class="content-section">
	        <h3>Directory</h3>
	        <p class='text-muted'> Check out what I'm working on below.<!-- can put text here -->
	          <ul class="list-group">
				<div class="dropdown show list-group-item list-group-item-light nav-link"> <!-- begin dropdown -->
				  <a class="dropdown-toggle list-group-item-light" href="#" role="button" id="webtooldropdrown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Web Tools and Sites
				  </a>
				  <div class="dropdown-menu" aria-labelledby="webtooldropdrown">
			      <li><a class="dropdown-item" href="{{url_for('molec_strain')}}">Interactive Newman Projection</a></li>
				  </div>
				</div> <!-- end dropdown -->
				<div class="dropdown show list-group-item list-group-item-light nav-link"> <!-- begin dropdown -->
				  <a class="dropdown-toggle list-group-item-light" href="#" role="button" id="projectdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Programming Projects
				  </a>
				  <div class="dropdown-menu" aria-labelledby="projectdropdown">
			      <li><a class="dropdown-item" href="{{url_for('pyfluv')}}">pyfluv</a></li>
			      <li><a class="dropdown-item" href="{{url_for('ecotrajectory')}}">ecotrajectory</a></li>
			      <li><a class="dropdown-item" href="{{url_for('geoengine')}}">KCI Geoengine</a></li>
			      <li><a class="dropdown-item" href="{{url_for('fuzzypeach')}}">fuzzyPEACH</a></li>
			      <li><div class="dropdown-divider"></div></li>
			      <li><a class="dropdown-item" href="{{url_for('more_projects')}}">More</a></li>
				  </div>
				</div> <!-- end dropdown -->
				<a class="list-group-item list-group-item-light nav-link" href="/music">Music</a>
				<a class="list-group-item list-group-item-light nav-link" href="{{url_for('pet_therapy')}}">Pet Therapy</a>
	          </ul>
	        </p>
	      </div>
	    </div>
	  </div>
	</main>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  	<!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
</body>

</html>