{% extends "layout.html" %}

{% block vissetup%}

	<meta charset="utf-8" />
	<script src="https://d3js.org/d3.v3.min.js"></script>


{% endblock vissetup%}

{% block content %}	

	<article class="media content-section">
	  <div class="media-body">
	    <h2><a class="article-title">Interactive Newman Projection</a></h2>
	    	<p style="text-align: left;">Newman projections are used to visualize various conformations of an alkane (a chain of single bonded carbons). This interactive plot can be used to calculate the strain of an alkane as the dihedral angle (angle between two arbitrary substituents) is varied. The left plot will track your mouse as you move it around, and the conformational strain will be plotted to the right. For best results, use a desktop computer.</p>
	  </div>
	</article>

<script>choices = ["H","Me","Pr","F","Cl","Br"]</script>

<form>
<div>
	<p>Front Groups</p>
  <div class="form-row">
    <div class="col">
      <select class="form-control", name="fg1">
      	<option>H</option>
      	<option>Me</option>
      </select>
    </div>
    <div class="col">
      <select class="form-control", name="fg2">
      	<option>H</option>
      	<option>Me</option>
      </select>
    </div>
    <div class="col">
      <select class="form-control", name="fg3">
      	<option>H</option>
      	<option>Me</option>
      </select>
    </div>
  </div>
</div>

<div>
	<p></p>
  	<p>Back Groups</p>
  <div class="form-row">
    <div class="col">
      <select class="form-control", name="bg1">
      	<option>H</option>
      	<option>Me</option>
      </select>
    </div>
    <div class="col">
      <select class="form-control", name="bg2">
      	<option>H</option>
      	<option>Me</option>
      </select>
    </div>
    <div class="col">
      <select class="form-control", name="bg3">
      	<option>H</option>
      	<option>Me</option>
      </select>
    </div>
  </div>
</div>

<div id="clear_graph">
	<p></p>
    <input name="clear_button" 
           type="button" 
           value="Clear Graph" 
           onclick="clear_graph(g)" />
</div>
<div id="change_color">
    <input name="color_button" 
           type="button" 
           value="Change Plotting Color" 
           onclick="alter_master_color()">
	<p></p>
</div>

</form>

<div class = "leftcontainer" id="spinchart">
<script>
	// set up the interactive plot
	// note: front/back designations are backwards
	var w = 340,  h = 340 , r = 50, mult = 2.3, backfrac = 3;
	 
	var svg = d3.select("#spinchart").append("svg")
		.attr({width: w, height: h})
		.on("mousemove", follow_mouse)
		.on("mouseover", update_groups);
	
	// text displays
	var report = svg.append("text") .attr("id", "report")
		.attr({x: 20, y: 20})
		.text("Dihedral Angle: 0.00°");

	var strain = svg.append("text") .attr("id", "strain")
		.attr({x: 20, y: 40})
		.text("Strain: 0 kJ/mol");
		
	// groups
	var g_front = svg.append("g").attr("id", "g_front")
		.attr("transform", "translate(" + [w/2, h/2] + ")");
	var g_back = svg.append("g").attr("id", "g_back")
		.attr("transform", "translate(" + [w/2, h/2] + ")");
	    

	// fixed spokes
	var front_group = g_front.append("g").attr("id", "front_group")
	var front_spokes = front_group.append("path").attr("id", "front_spokes")
		.attr("d",
			  "M 0 0 L " + -(r/2*Math.sqrt(3))*mult + " " + (r/2)*mult +
			  "M 0 0 L " + (r/2*Math.sqrt(3))*mult + " " + (r/2)*mult);
	var mark_spoke_front = front_group.append("path") .attr("id", "mark_spoke_front")
		.attr("d", "M 0 0 V " + -r*mult);

	// rotating spokes
	var back_group = g_back.append("g").attr("id", "back_group")
	var back_spokes = back_group.append("path").attr("id", "back_spokes")
		.attr("d",
			  "M 0 0 L " + -(r) + " " + -(r*Math.sqrt(3)) +
			  "M 0 0 L " + -(r) + " " + (r*Math.sqrt(3)));
	var mark_spoke_back = back_group.append("path") .attr("id", "mark_spoke_back")
		.attr("d", "M 0,0 H " + r*2);

	// circles
	var circle_back = g_back.append("circle").attr("id", "circle_back")
		.attr("r", r/backfrac);
	var circle_front = g_front.append("circle").attr("id", "circle_front")
		.attr("r", r);

	// molecular group text
	var front_text = svg.append("g") .attr("id", "chemgroupfront");
	var front_text_up = front_text.append("text")
		.attr({x: w/2, y: h/2-r*mult})
		.text("-")
		.attr("text-anchor", "middle");
	var front_text_left = front_text.append("text")
		.attr({x: w/2-(r*mult/2*Math.sqrt(3)), y: h/2+(r*mult/2)*1.07})
		.text("-")
		.attr("text-anchor", "end");
	var front_text_right = front_text.append("text")
		.attr({x: w/2+(r*mult/2*Math.sqrt(3)), y: h/2+(r*mult/2)*1.07})
		.text("-")
		.attr("text-anchor", "start");

	var back_text = svg.append("g").attr("id", "chemgroupback")
		.attr("text-anchor", "middle");
	var back_text_right = back_text.append("text")
		.attr({x: w/2+r*2, y: h/2*1.02})
		.text("-")
		.attr("text-anchor", "start");
	var back_text_bottom = back_text.append("text")
		.attr({x: w/2-(r/2*Math.sqrt(3))*1.07, y: h/2+(r*Math.sqrt(3))*1.08})
		.text("-")
		.attr("text-anchor", "end");
	var back_text_top = back_text.append("text")
		.attr({x: w/2-(r/2*Math.sqrt(3)), y: h/2-(r*Math.sqrt(3))})
		.text("-")
		.attr("text-anchor", "end");

	function follow_mouse() {
		var angle = get_angle()
		var dispangle = get_theta()

		d3.select("#back_group").attr("transform", "rotate(" + angle + ")");

		d3.select("#chemgroupback").attr("transform", "rotate("+(angle)+","+w/2+","+h/2+")");

		d3.select("#report").text("Dihedral Angle: " + dispangle.toFixed(2) + "°");

		strains = calculate_strains()
		total_strain = strains[0] + strains[1]
		d3.select("#strain").text("Strain: " + total_strain.toFixed(2) + " kJ/mol");

		add_points(g,[dispangle],[total_strain], master_color)

		mark_point(g,[dispangle],[total_strain])
	}
	// hm
	function get_groups() {

		fg1_val = document.getElementsByName("fg1")[0].value
		fg2_val = document.getElementsByName("fg2")[0].value
		fg3_val = document.getElementsByName("fg3")[0].value

		bg1_val = document.getElementsByName("bg1")[0].value
		bg2_val = document.getElementsByName("bg2")[0].value
		bg3_val = document.getElementsByName("bg3")[0].value

		return [bg1_val, bg2_val, bg3_val, fg1_val, fg2_val, fg3_val]

	}

	function get_angle() {
		var xy = d3.mouse(circle_front.node())
		var angle = (180/Math.PI * Math.atan2(xy[1], xy[0]));
		return angle
	}

	function get_theta() {
		var xy = d3.mouse(circle_front.node())
		var angle = (180/Math.PI * Math.atan2(xy[1], xy[0]));
		var dispangle = angle+90
		if (dispangle < 0) {
			dispangle += 360
		}

		return dispangle
	}

	function get_interaction_angles() {

		angle = get_theta()

		a1 = [Math.abs(angle), Math.abs(angle-120), Math.abs(angle-240)]
	    a2 = [Math.abs(angle-240), Math.abs(angle), Math.abs(angle-120)]
	    a3 = [Math.abs(angle-120), Math.abs(angle-240), Math.abs(angle)]
    
	    angles = [a1,a2, a3]
	    for (var i = 0; i < angles.length; i++) {
			    for (var j = 0; j < angles[i].length; j++){
			    	if (angles[i][j] > 180) {
	          			angles[i][j] = 360 - angles[i][j]
	          		}
			    }
			}

			return angles

	}

	function get_eclipsing_strengths() {

		angles = get_interaction_angles()

	    for (var i = 0; i < angles.length; i++) {
			    for (var j = 0; j < angles[i].length; j++){
			    	if (angles[i][j] > 60) {
	          			angles[i][j] = 0
	          		} else {
	          			angles[i][j] = 1 - (angles[i][j] / 60)
	          		}

			    }
			}

		return angles
	}

	function get_gauche_strengths() {

		angles = get_interaction_angles()

	    for (var i = 0; i < angles.length; i++) {
			    for (var j = 0; j < angles[i].length; j++){
			    	if (angles[i][j] > 120) {
	          			angles[i][j] = 0
	          		} else {
	          			if (angles[i][j] > 60) {
	          				angles[i][j] = 120 - angles[i][j]
	          			}
	          			angles[i][j] = angles[i][j] / 60
	          		}

			    }
			}

		return angles
	}

	function calculate_strains() {

		h_eclipsing_vals = {H: 4.0, Me: 6.0}
		me_eclipsing_vals = {H: 6.0, Me: 11.0}
		h_gauche_vals = {H: 0.0, Me: 0.0}
		me_gauche_vals = {H: 0.0, Me: 3.8}

		eclipsing_vals = {H:h_eclipsing_vals, Me:me_eclipsing_vals}
		gauche_vals = {H:h_gauche_vals, Me:me_gauche_vals}

		groups = get_groups()
		back_groups = groups.slice(0,3)
		front_groups = groups.slice(3,6)

		//alert("Front groups: " + front_groups + ". Back groups: " + back_groups)

		gauche_strengths = get_gauche_strengths()
		eclipsing_strengths = get_eclipsing_strengths()

		//alert("Gauche strengths are " + gauche_strengths)
		//alert("Eclipsing strengths are " + eclipsing_strengths)

		gauche_strains = 0
		eclipsing_strains = 0
		for (var i = 0; i < front_groups.length; i++) {

			target_group = front_groups[i]
			for (var j = 0; j < back_groups.length; j++) {
				comp_group = back_groups[j]
				gauche_strains += gauche_vals[target_group][comp_group] * gauche_strengths[i][j]
				eclipsing_strains += eclipsing_vals[target_group][comp_group] * eclipsing_strengths[i][j]
			}

		}

		return [gauche_strains,eclipsing_strains]

	}

	function update_groups() {

		//d3.select("#chemgroupfront").attr("transform", "rotate("+(Math.random()*360)+","+w/2+","+h/2+")");
		groups = get_groups()
		spots = [front_text_up, front_text_right, front_text_left, back_text_right, back_text_bottom, back_text_top]
		
		var arrayLength = spots.length;
		for (var i = 0; i < arrayLength; i++) {
		    spots[i].text(groups[i])
		}

	}
</script>
</div>

<div class = "rightcontainer" id = "scatterchart">
<script>
	//set up the graph
	var xdata = [0,360],
    ydata = [0,35];

	// size and margins for the chart
	var margin = {top: 20, right: 15, bottom: 60, left: 60}
	  , width = w - margin.left - margin.right
	  , height = h - margin.top - margin.bottom;

	// x and y scales, I've used linear here but there are other options
	// the scales translate data values to pixel values for you
	var x = d3.scale.linear()
	          .domain([0,d3.max(xdata)])  // the range of the values to plot
	          .range([ 0, width ]);        // the pixel range of the x-axis

	var y = d3.scale.linear()
	          .domain([0, d3.max(ydata)])
	          .range([ height, 0 ]);

	// the chart object, includes all margins
	var chart = d3.select('#scatterchart')
	.append('svg:svg')
	.attr('width', width + margin.right + margin.left)
	.attr('height', height + margin.top + margin.bottom)
	.attr('class', 'chart')

	// the main object where the chart and axis will be drawn
	var main = chart.append('g')
	.attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')
	.attr('width', width)
	.attr('height', height)
	.attr('class', 'main')   

	// draw the x axis
	var xAxis = d3.svg.axis()
	.scale(x)
	.orient('bottom');

	main.append("text")      // text label for the x axis
        .attr("x", width/2 )
        .attr("y", height+35)
        .style("text-anchor", "middle")
        .text("Dihedral Angle (degrees)");

  	main.append("text")      // text label for the x axis
        .attr("x", -30 )
        .attr("y", 180)
        .style("text-anchor", "middle")
        .text("Strain (kJ/mol)")
        .attr('transform', 'rotate(-90,-30,180)')

	main.append('g')
	.attr('transform', 'translate(0,' + height + ')')
	.attr('class', 'main axis date')
	.call(xAxis);

	// draw the y axis
	var yAxis = d3.svg.axis()
	.scale(y)
	.orient('left');

	main.append('g')
	.attr('transform', 'translate(0,0)')
	.attr('class', 'main axis date')
	.call(yAxis);

	// draw the graph object
	var g = main.append("svg:g"); 

	/*
	g.selectAll("scatter-dots")
	  .data(ydata)  // using the values in the ydata array
	  .enter().append("svg:circle")  // create a new circle for each value
	      .attr("cy", function (d) { return y(d); } ) // translate y value to a pixel
	      .attr("cx", function (d,i) { return x(xdata[i]); } ) // translate x value
	      .attr("r", 5) // radius of circle
	      .style("opacity", 0.6); // opacity of circle
	*/

	function add_points(graph,exes,whys,color) {
		graph.selectAll("scatter-dots")
		  .data(whys)  // using the values in the ydata array
		  .enter().append("svg:circle")  // create a new circle for each value
		      .attr("cy", function (d) { return y(d); } ) // translate y value to a pixel
		      .attr("cx", function (d,i) { return x(exes[i]); } ) // translate x value
		      .attr("r", 3.5) // radius of circle
		      .style("opacity", 0.5) // opacity of circle
		      .style('fill', color);
	}

	function mark_point(graph,exes,whys) {

		graph.selectAll("rect").remove()

		graph.selectAll("scatter-dots")
		  .data(whys)  // using the values in the ydata array
		  .enter().append("svg:rect")  // create a new circle for each value
		      .attr("y", function (d) { return y(d)-5; } ) // translate y value to a pixel
		      .attr("x", function (d,i) { return x(exes[i])-5; } ) // translate x value
		      .attr("width", 10) // radius of circle
		      .attr("height", 10)
		      .style('fill', "black");
	}

	function clear_graph(graph) {

		graph.selectAll("circle").remove()

	}

	function randomColor(brightness){
	  function randomChannel(brightness){
	    var r = 255-brightness;
	    var n = 0|((Math.random() * r) + brightness);
	    var s = n.toString(16);
	    return (s.length==1) ? '0'+s : s;
	  }
	  return '#' + randomChannel(brightness) + randomChannel(brightness) + randomChannel(brightness);
	}

	function alter_master_color() {

		master_color = randomColor(0)

		var property = document.getElementById('change_color');
		property.style.backgroundColor = master_color;

	}

	master_color = randomColor(0)
	document.getElementById("change_color").style.backgroundColor=master_color;
</script>
</div>

{% endblock content %}