{% extends "layout.html" %}
{% block content %}

	<article class="media content-section">
	  <div class="media-body">
	    <h2><a class="article-title">More Projects</a></h2>
	    	<p style="text-align: left;">I haven't listed all of my projects here, but most code I've written in the last couple of years is on Github. Some of these projects include VBA supplemented Excel sheets for collection vegetation data for stream restoration projects, tutorials on using hyperspectral image to classify landcover, and a series of R scripts for processing stream surveys that eventually turned into Pyfluv.</p>
	  </div>
	</article>

{% endblock content %}