{% extends "layout.html" %}
{% block content %}

	<article class="media content-section">
	  <div class="media-body">
	    <h2><a class="article-title">Pet Therapy</a></h2>
	    	<p style="text-align: left;">Once a week I take Fred to the hospital to visit with patients and staff. Fred is a registered therapy dog with Intermountain Therapy Animals (ITA) and a 100% certified ham. Though he's a pembroke corgi, Fred has a cartilage deficiency in his ears so they don't stand up. Some people think that makes him even cuter!</p>

	    	<p style="text-align: left;">Click on the images below for higher resolution.</p>

			<div class="row">
			  <div class="col-md-3">
			    <div class="thumbnail">
			      <a href="https://i.imgur.com/W0uRT5Q.jpg" target="_blank">
			        <img src="https://i.imgur.com/W0uRT5Qm.jpg" alt="ITA Badge" style="width:100%" class="img-thumbnail">
			        <div class="caption">
			          <p>Our ITA badge photo</p>
			        </div>
			      </a>
			    </div>
			  </div>
			  <div class="col-md-3">
			    <div class="thumbnail">
			      <a href="https://i.imgur.com/eftokYy.jpg" target="_blank">
			        <img src="https://i.imgur.com/eftokYym.jpg" alt="Fred and Miles" style="width:100%" class="img-thumbnail">
			        <div class="caption">
			          <p>Fred's big brother Miles isn't a therapy dog, but he's still pretty cute</p>
			        </div>
			      </a>
			    </div>
			  </div>
			  <div class="col-md-3">
			    <div class="thumbnail">
			      <a href="https://i.imgur.com/g4XreHsmjpg" target="_blank">
			        <img src="https://i.imgur.com/g4XreHsm.jpg" alt="Beach Fred" style="width:100%" class="img-thumbnail">
			        <div class="caption">
			          <p>Fred enjoying a day at the beach</p>
			        </div>
			      </a>
			    </div>
			  </div>
			  <div class="col-md-3">
			    <div class="thumbnail">
			      <a href="https://i.imgur.com/KNKPX5q.jpg" target="_blank">
			        <img src="https://i.imgur.com/KNKPX5qm.jpg" alt="Stickers and Cards" style="width:100%" >
			        <div class="caption">
			          <p>Some fun cards and stickers of Fred we hand out on our visits!</p>
			        </div>
			      </a>
			    </div>
			  </div>
			</div>
	  </div>
	</article>
	
{% endblock content %}